<div class="container-fluid cpc-max-w mx-auto overflow-hidden bg-white pt-4 pt-sm-2">
    <div class="row align-items-center g-0">
        <!-- Logo Section -->
        <div class="col-3 col-sm-2 text-center" data-aos="fade-right" data-aos-duration="1000">
            <div class="logo">
                <a href="./index.html">
                    <img src="./assets/logos/logos_ggu3.png" alt="logo" class="cpc-logo-img mx-auto d-block">
                </a>
            </div>
        </div>

        <!-- Text Section -->
        <div class="col-6 col-sm-8 text-center" data-aos="zoom-in" data-aos-duration="1500">
            <div class="text-teal-800">
                <!-- Hindi Text with Mobile Abbreviation -->
                <p class="fw-bold cpc-header1-title mb-0">
                    <span class="d-sm-none">जी. जी. वी., बिलासपुर</span>
                    <span class="d-none d-sm-inline">गुरु घासीदास विश्‍वविद्यालय, बिलासपुर</span>
                </p>

                <!-- English Text with Mobile Abbreviation -->
                <p class="fw-bold cpc-header1-title mb-0">
                    <span class="d-sm-none">G.G.V., Bilaspur</span>
                    <span class="d-none d-sm-inline">Guru Ghasidas Vishwavidyalaya, Bilaspur</span>
                </p>

                <small class="d-none d-sm-block cpc-header1-subtitle">A Central University established by the Central Universities Act
                    2009 No. 25 of 2009</small>
            </div>
        </div>

        <!-- Secondary Image Section -->
        <div class="col-3 col-sm-2 text-center" data-aos="fade-left" data-aos-duration="1000">
            <div class="mx-auto">
                <img src="./assets/guru_ghasidas.png" alt="image" class="cpc-logo-img mx-auto d-block">
            </div>
        </div>
    </div>
    <small class="d-block d-sm-none mx-auto cpc-header1-subtitle text-center px-2 pb-4 text-teal-800">A Central University stablished
        by the Central
        Universities Act 2009 No. 25 of 2009</small>
</div>