<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm sticky-top cpc-navbar cpc-max-w mx-auto">
    <div class="container-fluid px-4 px-lg-8">
        <a class="navbar-brand d-flex align-items-center gap-2 fw-bold cpc-navbar-brand" href="./index.html">
            <i class="fas fa-home"></i>
            CPC - GGV
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-links"
            aria-controls="nav-links" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-dark" id="nav-links">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" href="./demographics.html"><i class="fas fa-question-circle me-2"></i>Why Recruit?</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="./for-recruiters.html" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-briefcase me-2"></i>For Recruiters
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark cpc-dropdown-menu">
                        <li><a class="dropdown-item" href="./for-recruiters.html">Overview</a></li>
                        <li><a class="dropdown-item" href="https://ggv.samarth.ac.in/index.php/training/company-profile-requests/register" target="_blank">Job Invitation Form</a></li>
                        <li><a class="dropdown-item" href="./for-recruiters.html#procedures">Procedure & Policies</a></li>
                        <li><a class="dropdown-item" href="./for-recruiters.html#brochure">Placement Brochure</a></li>
                        <li><a class="dropdown-item" href="./for-recruiters.html#facilities">Facilities</a></li>
                        <li><a class="dropdown-item" href="./for-recruiters.html#hotel-list">Nearby Hotels</a></li>
                        <li><a class="dropdown-item" href="./for-recruiters.html#faqs">FAQs</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-user-graduate me-2"></i>For Students
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark cpc-dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="alert('Job Application Form will be added soon...!');">Job Application Form</a></li>
                        <li><a class="dropdown-item" href="https://docs.google.com/document/d/1settLyj84qGsQXi0j7b8jBS7x3d33bZc/export?format=pdf">Procedure & Policies</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./team.html"><i class="fas fa-users me-2"></i>Student Team</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./contact.html"><i class="fas fa-envelope me-2"></i>Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>